.credit_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit_img_box {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.credit_img_box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
